{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Kuliah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="main" class="d-flex justify-content-center flex-column">
        {% include 'navbar.html' %}
    </header>

    <br><br><br>
    <h1>Jadwal Kuliah Ku</h1>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <div class="column">
                <div class="row">
                    {% for field in form  %}
                    <b>{{ field.label_tag }}</b> {{ field }}
                    {% endfor %}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>

    <br>
    <table class="table table-hover" style="size: 40%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Credits</td>
                <td>Lecturer</td>
                <td>Class</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for data in datas  %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.credits}}</td>
                <td>{{data.lecturer}}</td>
                <td>{{data.classroom}}</td>
                <td><a href="schedule/{{data.schedule_id}}">Detail</a>
                    <a href="tasks/{{data.schedule_id}}">Tugas</a></td>
                <td><a href="schedule/delete/{{data.schedule_id}}"><i class="fa fa-trash"
                            style="font-size:40px"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>