{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Kuliah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="main" class="d-flex justify-content-center flex-column">
        {% include 'navbar.html' %}
    </header>

    <br><br><br>
    <a href="/schedule" class="btn btn-primary" style="font-size:0.3em"><i class="fa fa-arrow-left" style="font-size:1.5em"></i> Kembali</a>
    <h2>Jadwal Kuliah {{schedule.name}}</h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text"> Nama: {{schedule.name}}</p>
            <p class="card-text"> Dosen: {{schedule.lecturer}}</p>
            <p class="card-text"> SKS: {{schedule.credits}}</p>
            <p class="card-text"> Keterangan: {{schedule.description}}</p>
            <p class="card-text"> Tahun Ajaran: {{schedule.period}}</p>
            <p class="card-text"> Kelas: {{schedule.classroom}}</p>
        </div>
    </div>
    <br>



</body>

</html>