{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadwal Kuliah</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="main" class="d-flex justify-content-center flex-column">
        {% include 'navbar.html' %}
    </header>

    <br><br><br>
    <h1>Tugas {{subject.name}}</h1>

    <br>
    <table class="table table-hover" style="size: 40%">
        <thead>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
            </tr>
        </thead>
        <tbody>
            {% for data in tasks %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.due_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>