{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegiatan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="font-size: 0.84em">
    <div class="row">
        {% regroup todos by event as event_list %}

        {% for event in event_list %}
        <div class="card" style="width: 12rem; ">
            <div class="card-body">
                <h5 class="card-title">{{event.grouper.event}}</h5>

                <p class="card-text">
                    Peserta
                    {% for todo in event.list %}
                    <ul>
                        {% if todo.attendee is not None %}
                        <li>{{todo.attendee}}
                           <a href="/todo/delete/{{todo.id}}"><i class="fa fa-trash" style="font-size:20px; padding-left:2px"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </p>
                <form action="#" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Masukan nama" id="name" name="name">
                    <input type="text" id="event" name="event" value="{{event.grouper.id}}" hidden>
                    <button type="submit" class="btn btn-primary" style="width: 50%; padding: 2px;">Ikut acara</button>
                </form>
            </div>
        </div>
        {% endfor %}
        <div class="card" style="width: 12rem; ">
            <div class="card-body">
                <h5 class="card-title">Buat Acara</h5>

                <p class="card-text">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <input type="text" placeholder="Nama acara" id="event_name" name="event_name">
                        <button type="submit" class="btn btn-primary" style="width: 50%; padding: 2px;">Buat
                            acara</button>
                    </form>
                </p>
            </div>
        </div>
    </div>


</body>

</html>